<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FacturadorEntities" connectionString="metadata=res://*/EFFacturador.csdl|res://*/EFFacturador.ssdl|res://*/EFFacturador.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=Facturador;Integrated Security=false;User ID=alexis;password=123; MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="FacturadorEntities1" connectionString="metadata=res://*/EFFacturador.csdl|res://*/EFFacturador.ssdl|res://*/EFFacturador.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\sqlexpress;Initial Catalog=Facturador;Integrated Security=True;User ID=alexis;password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>